body{
  font-family: "Montserrat";
  }
  h1 {
  font-family: 'Montserrat-Black', sans-serif;
  size: 3rem;
  line-height: 1.5;
  }
  h2{
    font-family: 'Montserrat-bold';
    size: 7rem;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Montserrat-bold";
  }
#title {
  background-color: #ff4c68;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
.container-fluid {
padding: 1.1%;
}
.navbar{
padding-bottom: 4.5rem;
padding-right: 10%;
}
.navbar-brand {
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
padding-left: 14%;
padding-right: 25%;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.description {
  display: flex;
  font-size: 4.5rem;
  padding-left: 22%;
  font-family: "Montserrat-Light";
  padding-top: 10%;
  font-weight: bold;
}
.download-btn {
  margin: 5% 3% 5% 0;
}
/* created to align buttons responsive */
.btn-align {
  margin-left: 22%;
}
.img-rotate {
  transform:rotate(25deg);
  width: 50%;
}
.navbar-brand {
  font-family: "Ubuntu";
  size: 2.5rem;
  font-weight: bold;
}
/* features section */
#features {
  margin-top: 5%;
}
.row{
  padding-left: 0;
  padding-right: 7%;
}
.img-second-section {
  color: #ef8172;
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
}
.no-gutters {
  padding-left: 6%
}
.center {
  text-align: center;
}
.img-second-section:hover {
  color: #ff4c68;
}
p{
  color: #8f8f8f;
  text-align: center;
}
/* testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
  padding: 7% 12%;
}
.description-h2 {
  display: flex;
  font-size: 2rem;
  font-family: "Montserrat-Light";
  font-weight: bold;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin-top: 5%;
}
/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}
